* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 240, 240);
  padding: 15px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  margin-bottom: 30px;
}

.trelloImg {
  height: 50px;
}

.flex,
.mainFlex {
  display: flex;
  column-gap: 50px;
  padding: 20px;
  flex-wrap: wrap;
}

.flex:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.boardContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 10px;
}

.titleDiv {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.newBoard {
  margin-top: 20px;
  margin-left: 20px;
}

.listFlex {
  display: flex;
  column-gap: 50px;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  height: auto;
}

.listFlex::-webkit-scrollbar {
  display: none;
}

.newCard {
  margin-top: 20px;
  margin-left: 20px;
}

.listNameFlex {
  display: flex;
  justify-content: space-between;
}

.addNewCard {
  margin-top: 10px;
}

.card {
  background-color: white;
  color: rgb(100, 92, 92);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin-left: 40px;
}

h3 {
  display: flex;
  align-self: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.box-header {
  font-size: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.checklistFlex {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.checklistItemsFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
}

.text-cancel {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  background-color: rgb(223, 218, 218);
  padding: 10px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}
